@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

button {
	font: inherit;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}


.datepicker {
	width: 95%;
	max-width: 1150px;
	background-color: var(--p-surface-100);
	border-radius: 10px;
	box-shadow: 0 0 2px 0 rgba(#000, .2), 0 5px 10px 0 rgba(#000, .1);
	padding: 1rem;
}

.datepicker-top {
	margin-bottom: 1rem;
}

.month-selector {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	background-color:#FFF;
	border-radius: 12px;
	width: 2.5rem;
	height: 2.5rem;
	box-shadow: 0 0 2px 0 rgba(#000,.25), 0 0 10px 0 rgba(#000, .15);
}

.month-name {
	font-weight: 600;
}

.datepicker-calendar {
	display: grid;
	grid-template-columns: repeat(7, auto);
	grid-row-gap: 1rem;
}

.day, .date {
	justify-self: center;
}

.day {
	color: var(--p-surface-500);
	font-size: .875em;
	font-weight: 500;
	justify-self: center;
}

.date {
	border: 0;
	padding: 0;
	width: 2.25rem;
	height: 2.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	font-weight: 600;
	border: 2px solid transparent;
	background-color: transparent;
	cursor: pointer;
	&:focus {
		outline: 0;
		color: var(--p-primary-400);
		border: 2px solid var(--p-primary-500);	
	}	
}

.faded {
	color: var(--p-surface-500);
}

.current-day {
	color: #FFF;
	border-color: var(--p-primary-500);
	background-color: var(--p-primary-400);
	&:focus {
		background-color: transparent;
	}
}
